/* Entrez le CSS personnalisé de votre thème enfant ici */
/*test */
h2 {
    color: red;
}

/*end test*/

/**********HeaderTop***********/
#_desktop_user_info {
    float: right;
    padding-right: 1.5em;    
}

#_desktop_cart {
    float: right;
    
}
/**********End HeaderTop ***********/

/********** Search Bar ***********/

.page-home #search_widget{
    height: 30em;
    margin-bottom: 2em;
    padding-left: 2em;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: red;
}

.page-home .search-widget form input[type=text]{
    height: 6em;
    width: 200%;
    border-radius: 1.2em;
    font: 300 16px "Montserrat", arial, helvetica, clean, sans-serif;
}

.page-home .search-widget form input[type=text]:focus{
    outline: none;
}

.page-home #button_search {
    position: absolute;
    left: 8em;
    bottom: 1.4em;
    border-radius: 0.5em;
}

.page-home .search-widget form button:focus {
    outline: none;
    border:0;
}

.page-home .search-widget button[type=submit] i {
    position: absolute;
    right: 0.3em;
    bottom: 0.65em;
}


@media screen and (max-width: 768px){
    .page-home .search-widget form input[type=text] {
        min-width: 15.63rem;
        font: 300 12px "Montserrat", arial, helvetica, clean, sans-serif;
        width: 50%;
    }
}

@media screen and (max-width: 300px){
    .page-home .search-widget form input[type=text] {
        min-width: 15.63rem;
        width: 30%;
    }
}

/********** End Search Bar ***********/

/********** Modal Search ***********/

.page-home #modalSearch{
    background: none;
    margin-top: 1em;
    border: none;
    box-shadow: none;
    color: white;
    font-size: small;
    padding-left: 0;
}

.page-home #modalSearch i{
    font-size: x-large;
}


#modalManufacturer{
    text-align: center;
}

#modalManufacturer ul {
    list-style: none;
    padding-left: 0;
    scroll-padding-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#modalManufacturer li {
    flex: 0 50%;
    padding-bottom: 1em;
    cursor: pointer;
}

#appleModal a{
    cursor: pointer;
}
/********** End Modal Search ***********/

